<div class='navbar'>
  <% if user_signed_in? %>
    <div class='nav-element'>
      <%= link_to 'Home', root_path %>
    </div>
    <div class='nav-element'>
      <%= link_to 'Add Post', new_post_path %>
    </div>
    <div class='nav-element'>
      <%= link_to 'My Profile', me_path %>
    </div>
  <% else %>
    <div class='nav-element'>
      <%= link_to 'Sign up', new_user_registration_path %>
    </div>
    <div class='nav-element'>
      <%= link_to 'Sign in', new_user_session_path %>
    </div>
  <% end %>
</div>