<%= link_to post_path(post) do %>
<div class='post-card'>
  <% if post.user.image.attached? %>
  <%= cl_image_tag(post.user.image.key, class:'avatar') %>
  <% end %>
  <%= link_to users_path(post.user) do %>
  <%= post.user.full_name %>
  <% end %>
  <p><%= post.description %></p>
  <%= cl_video_tag(post.video.key, height: '100%', controls: true, width: '100%') %>
  <div class='post-user-info'>
  </div>
  <div class='buttons-bar'>
    <% if !(post.likes.find {|x| x[:user_id] == current_user.id}).nil? %>
    <%= link_to '', like_path(post), method: :delete, class:'fas fa-thumbs-up' %>
    <% else %>
    <%= link_to '', post_likes_path(post), method: :post, class:'far fa-thumbs-up' %>
    <% end %>
    <%= link_to '', new_post_comment_path(post), class:'far fa-comment' %>

    <p>
      <%= post.likes.count %> likes
    </p>
  </div>
</div>
<% end %>