<%= link_to post_path(post) do %>
<div class='post-card'>
  <% if post.user.image.attached? %>
  <%= cl_image_tag(post.user.image.key, class:'avatar') %>
  <% end %>
  <%= link_to users_path(post.user) do %>
  <%= post.user.full_name %>
  <% end %>
  <p><%= post.description %></p>
  <%= cl_video_tag(post.video.key, height: '100%', controls: true, width: '100%') %>
  <div class='post-user-info'>
  </div>
  <div class='buttons-bar'>

    <% if Save.where(post_id: post, user_id: current_user.id) == [] %>
    <%= link_to '', save_path(post), method: :post, class:'far fa-bookmark' %>
    <% else %>
    <%= link_to '', delete_saved_post_path(post), method: :delete, class:'fas fa-bookmark' %>
    <% end %>

    <div class='like-func d-flex'>
      <p><%= post.likes.count %></p>
      <% if !(post.likes.find {|x| x[:user_id] == current_user.id}).nil? %>
      <%= link_to '', like_path(post), method: :delete, class:'fas fa-thumbs-up ml-2' %>
      <% else %>
      <%= link_to '', post_likes_path(post), method: :post, class:'far fa-thumbs-up ml-2' %>
      <% end %>
    </div>
    <div class='d-flex'>
      <%= post.comments.count %>
      <%= link_to '', new_post_comment_path(post), class:'far fa-comment ml-2' %>
    </div>
  </div>
</div>
<% end %>