<%= render  "shared/top-bar", user: user %>

<div class="container text-center">
  <%= cl_image_tag(user.image.key, class:'avatar big') %>
  <br>
  <h3><%= user.full_name %></h3>
  <p><%= user.bio %></p>
  <div class="follows-container">
    <div>
      <p>Cranks</p>
      <p id='followers-count'><%= user.posts.count %></p>
    </div>
    <div>
      <p>Followers</p>
      <p id='following-count'><%= user.followers.count %></p>
    </div>
  </div>

  <%# Follow / unfollow %>

  <% if user == current_user %>
    <div>
      <%= link_to 'Edit', edit_user_registration_path, class:'btn btn-secondary small'%>
    </div>
  <% else %>
    <% if @user.followers.include?(current_user) %>
      <%= link_to "Unfollow", unfollow_path, class:'btn btn-secondary'%> 
    <% else %>
      <%= link_to "Follow", follow_path, class:'btn btn-primary' %> 
    <% end %>
  <% end %>

  <%# My posts grid %>
  <% if !user.posts.nil? %>
  <h3>My posts</h3>
  <div class="posts-grid">
    <% user.posts.reverse.each do |post| %>
      <%= render  "shared/post-thumbnail", post: post %>
    <% end %>
  </div>
  <% end %>
</div>