<div class="container">
  <h1>Add a crank</h1>
  <p>Post your own crank and challenge others!</p>
  <%= simple_form_for(@post) do |f| %>
  <%= f.input :video, as: :file %>
  <%= f.input :description, required: true %>
  <%= f.input :category_list, as: :check_boxes, collection: ["Music" , "Food", "Just for Fun", "DIY"] %>
  <%= f.submit 'Post', class:'btn btn-primary' %>
  <% end %>
</div>